<main class="d-flex flex-column p-1 bg-info">
    <div class="d-flex justify-content-end">
        <h5 class="fs-5 mt-2 px-4 mb-4">Welcome <span class="text-light fst-italic">{{username}}</span>!</h5>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <h6 class="mx-2 mw-100 text-center" style="width: 30rem;">Search for and add your Top Six Artists:</h6>
        </div>
        <div class="mw-100 center" style="width: 30rem;">
            <div class="input-group mb-3 px-4">
                <input id="artist-search" type="text" class="form-control" placeholder="Favorite artist" aria-label="Artist search"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-success" type="button" id="button-addon2"><span
                        class="text-light">Add</span></button>
            </div>
        </div>
    </div>
    <div class="row g-0 m-5">
        {{#each Artists}}
        <div class="col-md-4 p-2">
            <div class="artist-card">
                <a href="/artists/{{id}}">
                    <img class="profile-img" src={{image_id}} alt="artist">
                    <h1>{{artist_name}}</h1>
                </a>
                <span class="remove-icon">&#10060;</span>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="d-flex justify-content-center my-3 pb-5">
        <div class="card text-light bg-dark mw-100" style="width: 30rem;">
            <div class="card-header fw-bold p-3">
                Shows I am going to:
            </div>
            <ul class="list-group list-group-flush">
                {{#each Artists}}
                <li class="list-group-item p-3">{{artist_name}} {{show_location}} {{show_date}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>

<script src="/js/profile.js"></script>